/* src/index.css */
body {
  background-color: #ade8f4;
  color: #03045e;
  font-family: "Inter", sans-serif;
}

.ant-layout-header {
  background-color: 90E0EF!important;
  color: white !important;
  font-size: 20px;
  font-weight: 600;
}

.ant-card {
  background-color: #ffffff;
  border: 1px solid #90e0ef;
  border-radius: 12px;
}

.ant-btn-primary {
  background-color: #90E0EF!important;
  border-color: #90E0EF!important;
}

.ant-btn-primary:hover {
  background-color: #ADE8F4 !important;
  border-color: #ADE8F4 !important;
}

/* ✅ Customize AntD Checkbox color */
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #90E0EF !important; /* fill color when checked */
  border-color: #90E0EF !important;
}

.ant-checkbox:hover .ant-checkbox-inner {
  border-color: #90E0EF !important; /* border when hovered */
}

.ant-checkbox-inner {
  border-radius: 4px; /* optional — round corners a bit */
  border-color: #90E0EF !important;
}

